:root {
  --cor01: rgb(231, 231, 231);
  --cor02: rgb(53, 53, 53);
  --cor03: rgb(246, 246, 246);
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
  text-align: center;
}

h1 {
  margin: 10px;
}

#instrucao {
  margin: 10px;
}

form {
  height: 120px;
  max-width: 700px;
  padding: 30px;
  margin: 20px auto;
  background-color: var(--cor01);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}



label {
  color: var(--cor02);
}

input {
  padding: 3px;
  background-color: var(--cor03);
  border: 1px solid var(--cor02);
}

.btn {
  padding: 8px;
  background-color: rgb(49, 69, 167);
  border: 1px solid var(--cor02);
  color: var(--cor01);
  border-radius: 5px;
  font-weight: 600;
}

.btn:hover {
  cursor: pointer;
}

#resposta-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 750px;
  margin: auto;
}

#alerta {
  color: red;
  margin: 20px;
}

#resposta-nome span {
  text-transform: uppercase;
}

#historico-container {
  margin-top: 10px;
}

#historico-container p {
  padding: 3px;
  cursor: pointer;
  color: rgb(23, 80, 134);
}

#historico-container p::first-letter {
  text-transform: uppercase;
}