body {
  height: 100vh;
  padding-top: 200px;
}

form {
  display: flex;
  flex-direction: column;

  background-color: rgb(234, 234, 234);

  width: 500px;
  margin: auto auto;
  padding: 100px 50px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 5px double rgb(0, 0, 0);
}

.elements {
  padding: 10px;
}

button {
  margin: 10px;
  padding: 5px 15px;
  background-color: rgb(246, 246, 246);
  border-radius: 5px;
  border: 1px solid rgb(40, 40, 40);
}
