.carrossel-container{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carrossel {
  display: flex;
}

.viewport {
  overflow: hidden;
}

.track {
  width: 500px;
  display: flex;
  transition: transform 0.5s;
}

.track img {
  width: 100%;
  flex-shrink: 0;
}

.dots-container {
  display: flex;
}

.dots{
  margin: 15px;
  width: 15px;
  height: 15px;
  background-color: rgb(190, 190, 190);
  border: 1px solid rgb(190, 190, 190);
  border-radius: 999px;
}

.dots:hover {
  cursor: pointer;
  border: 1px solid rgb(162, 162, 162);
}

.dots-active {
  background-color: rgb(226, 226, 226);
  border: 1px solid rgb(162, 162, 162);
}
