#projeto_container {
    display: flex;         /* Usa o flexbox para colocar os itens lado a lado */
    align-items: flex-start; /* Alinha os itens ao topo */
    justify-content: flex-start; /* Garante que a imagem e o título fiquem no início (lado esquerdo) */
}

#projeto_content {
    margin-right: 20px;  /* Adiciona um espaço entre o conteúdo e a imagem */
}

#imagem_01 {
    width: 200px; /* Ajuste a largura da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}