.carrossel {
  width: 600px;
  display: flex;
}

.viewport {
  overflow: hidden;
}

.track {
  width: 500px;
  display: flex;
  transition: transform 0.5s;
}

.track img {
  width: 100%;
  flex-shrink: 0;
}
